/**
 * Forced light theme version
 */

 :root {
    --background-body: #fff;
    --background: #efefef;
    --background-alt: #f7f7f7;
    --selection: #9e9e9e;
    --text-main: #363636;
    --text-bright: #000;
    --text-muted: #70777f;
    --links: #0076d1;
    --focus: #0096bfab;
    --border: #dbdbdb;
    --code: #000;
    --animation-duration: 0.1s;
    --button-base: #d0cfcf;
    --button-hover: #9b9b9b;
    --scrollbar-thumb: rgb(170, 170, 170);
    --scrollbar-thumb-hover: var(--button-hover);
    --form-placeholder: #949494;
    --form-text: #1d1d1d;
    --variable: #39a33c;
    --highlight: #ff0;
    --select-arrow: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23161f27'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E");
  }
  
  html {
    scrollbar-color: rgb(170, 170, 170) #fff;
    scrollbar-color: var(--scrollbar-thumb) var(--background-body);
    scrollbar-width: thin;
  }
  
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
    line-height: 1.4;
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 10px;
    word-wrap: break-word;
    color: #363636;
    color: var(--text-main);
    background: #fff;
    background: var(--background-body);
    text-rendering: optimizeLegibility;
  }
  
  h1 {
    font-size: 2.2em;
    margin-top: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 12px;
    margin-top: 24px;
  }
  
  h1 {
    color: #000;
    color: var(--text-bright);
  }
  
  h2 {
    color: #000;
    color: var(--text-bright);
  }
  
  h3 {
    color: #000;
    color: var(--text-bright);
  }
  
  h4 {
    color: #000;
    color: var(--text-bright);
  }
  
  h5 {
    color: #000;
    color: var(--text-bright);
  }
  
  h6 {
    color: #000;
    color: var(--text-bright);
  }
  
  strong {
    color: #000;
    color: var(--text-bright);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  b,
  strong,
  th {
    font-weight: 600;
  }
  
  
  hr {
    border: none;
    border-top: 1px solid #dbdbdb;
    border-top: 1px solid var(--border);
  }
  
  table {
    border-collapse: collapse;
    margin-bottom: 10px;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    text-align: left;
  }
  
  td,
  th {
    padding: 6px;
    text-align: center;
    
    word-wrap: break-word;
  }
  
  thead {
    border-bottom: 1px solid #dbdbdb;
    border-bottom: 1px solid var(--border);
    
  }
  
  tfoot {
    border-top: 1px solid #dbdbdb;
    border-top: 1px solid var(--border);
  }
  
  tbody tr:nth-child(even) {
    background-color: #efefef;
    background-color: var(--background);
  }
  
  tbody tr:nth-child(even) button {
    background-color: #f7f7f7;
    background-color: var(--background-alt);
  }
  
  tbody tr:nth-child(even) button:hover {
    background-color: #fff;
    background-color: var(--background-body);
  }
  
    tbody tr:nth-child(even) {
      background-color: #f2f2f2;
    }